h2 {
  text-align: center;
  font-size: 11pt bold;
}

h1 {
  text-align: center;
  font-size: 16pt bold;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 10pt;
}

h3 {
  margin-left: 3%;
  font-size: 11pt bold;
}

h4 {
  margin-left: 3%;
  font-size: 10pt bold;
}
img {
 display: block;
  margin-left: auto;
  margin-right: auto;
}
